<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title>PRIC</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">


    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
    <img src="img/exito.png" width="60%">
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="px-3 btn btn-danger" href="logout">Salir</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/perfil">
              <span data-feather="home"></span>
              Perfil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/metricas">
              <span data-feather="file"></span>
              Metricas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recompensas">
              <span data-feather="shopping-cart"></span>
              Recompensas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/boletas">
              <span data-feather="/boletas"></span>
              Concurso Boletas
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Recompensas</h2>
        <h2>Bienvenido:
          <% if (user) { %>
            <span class="badge bg-success"><%= user.name %></span>
          <% } %>
        </h2>
      </div>

      
        
      
        <table class="botin">

          <tr>
            <td>
              <p class="recomp">Hola,<% if (user) { %>
                <span class=""><%= user.name %></span>
              <% } %>, esta semana queremos contarte que por vender 200 boletas, puedes reclamar un día libre,
                tú llevas <% if (user) { %>
                  <span class="badge bg-success"><%= user.boletas %></span>
                <% } %>
              </p>
            </td>
          </tr>

          <table class="botin">

            <tr>
              <td>
                <p class="recomp">Hola,<% if (user) { %>
                  <span class=""><%= user.name %></span>
                <% } %>, esta semana queremos contarte que por vender 50 goticas, puedes reclamar una ancheta,
                  tú llevas <% if (user) { %>
                    <span class="badge bg-success"><%= user.goticas %></span>
                  <% } %>
                </p>
              </td>
            </tr>
        
      

    </main>
  </div>
</div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>
</html>